/* *{
    margin:0;
    padding:0;
}
.container{
    background-color: rgb(10, 10, 10);
    width:100svw;
    
}
header{
    width:80%;
}
.logo>img{
    width:300px;
    height:30px;
} */

/* li a:hover:after {
    width: 100%;
} */
 .font{
    font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:x-large;
 }
 .nav-link{
    color:#f3dfe9;
    text-decoration: none;
    position:relative;
}
.nav-link:after {
    content: "";
     position: absolute; 
    background-color: #00B4D8;
    height: 2px;
    width: 0%;
    transform: translateX(-50%); 
    left: 50%;
    bottom: -1px;
    transition: .35s ease;

} 
 .ul{
    margin-right:100px;
 }
 .nav-link:hover:after{
   width:100%;
 }
 .nav-link:hover{
    color:#00B4D8;
 }